@use '../../../styles/mixins'as *;
@use '../../../styles/variables'as *;

.turnero_input_select {

    background: $dark-gray;
    border-radius: 9999px;;
    padding: 5px;
    
    &::before {
        border-bottom: 0px !important;
    }
    &:hover::before{
        border-bottom: 0px !important;
    }

    &.MuiInput-underline::after{
        border-bottom: 0px !important;
    }




}


.MuiPaper-rounded{
    border-radius: 0 !important;
}

.MuiMenu-list {
    background: $second-color;
    color: $main-color;
}